
#nav-bar{

    border: 3px solid black;
    position: sticky;
    margin: 1.5rem 1rem;
    padding: 0.5rem 1.5rem;
    background-color:var(--green);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    border-radius: 10px;
}
#nav-right{
    display: flex;
    width: 50%;
   justify-content: space-evenly;
}
#nav-left{
    display: flex;
    justify-content: space-around;
    gap: 5px;
    align-items: center;
}
#nav-right p{
    color: var(--black);
    cursor: pointer;
}
#nav-right p:hover{
          color: var(--white);
}
img{
    width: 80px;
}