
#user-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  
  #user-login-form {
    background-color: var(--grey);
    width: 50%;
    padding: 20px;
    border: 1px solid var(--black);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(46, 44, 44, 0.333);
  }
  
  .user-div {
    margin-bottom: 10px;
  }
  
  .user-div label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .user-div input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
  }